@import 'src/assets/styles/variables/variables.scss';

.statusText {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 143.874%;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
