.customBid input[type='number'] {
  width: 6rem;
  padding: 0.6rem;
  color: #000000;
  border: 1px solid #acacac;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border-radius: 0.4rem;
  height: 3.2rem;
  text-align: center;
}
