@import 'src/assets/styles/variables/variables.scss';

.greetingHeader {
  margin-bottom: 0;
}

.greeting {
  font-size: 2rem;
  font-weight: 600;
  color: $main-text;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: $font-size-10;
  color: $sub-text-3;
  margin-top: 0.2rem;
}
