@import '../../../../assets/styles/variables/variables.scss';

.container {
  background-color: #fff5e9;
  color: #b97318;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #ffb554;
  padding: 0rem 0.6rem;
  align-items: center;
  gap: 0.8rem;
  display: flex;
}
