@import 'src/assets/styles/scrollbar.scss';
@import 'src/assets/styles/variables/variables.scss';

.sidePanel {
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: $gray-50;
  border-left: 1px solid $gray-200;
  display: flex;
  flex-direction: column;
  box-shadow: -0.4rem 0 1.6rem $shadow-color-3;
  z-index: 50;
  flex-shrink: 0;
  height: 100%;
  border-radius: 1rem;
}

.header {
  padding: 1.6rem;
  background: $foreground-color;
  border-bottom: 1px solid $gray-200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0rem 1rem 0 0rem;
}

.body {
  flex: 1;
  overflow: hidden;
  border-radius: 1rem;
  padding: 0.2rem;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: $gray-900;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;

  .link {
    &:hover {
      color: $primary-color;
    }
  }
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: $gray-500;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  transition: all 0.2s;
}

.closeButton:hover {
  background: $background-color-2;
  color: $gray-900;
}
