@import 'src/assets/styles/variables/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0.8rem 0;

  .buttonsContainer {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.disabled {
  cursor: not-allowed;
}
