@import 'src/assets/styles/variables/variables.scss';

.statusConfirmation {
  .optionContainer {
    width: 100%;

    .option {
      width: 10rem;
    }
  }

  .buttonContainer {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}
