@import 'src/assets/styles/variables/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $foreground-color;
  border: 1px solid $border-color-4;
  border-radius: 0.8rem;
  padding: $spacing-8 $spacing-12;
  margin: $spacing-4 0;

  .countContainer {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0.5rem;

    .countText {
      color: $border-color-2;
      font-size: 1rem;
      font-weight: $font-weight-500;
      letter-spacing: -2%;

      .countNumber {
        color: $primary-color;
        font-weight: $font-weight-700;
      }
    }
  }

  .bulkActions {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    .bulkActionsText {
      color: #000;
      font-size: 1rem;
      font-weight: $font-weight-500;
      letter-spacing: -0.36px;
      opacity: 0.4;
      margin-right: 0.5rem;
    }
  }

  .buttonDialogContainer {
    position: relative;
  }
}
