.tableHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 2rem;
  flex-direction: column;
  position: relative;

  .title {
    font-size: 1.6rem;
    font-weight: 600;
    white-space: pre;
  }

  .subHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
    .toggleContainer {
      display: flex;
      gap: 0.6rem;
      font-size: 1.2rem;
      font-weight: 600;
      align-items: center;
    }
    .downloadBtn {
      margin-left: -1rem;
    }
  }

  .rowFilter {
    position: relative;
  }

  .columnFilterContainer {
    .columnFilter {
      background-color: red;
      position: absolute;
      right: 4rem;
      top: 0;
    }
  }
}
