@import 'src/assets/styles/variables/variables.scss';

.advertisingContainer {
  width: 100%;
  margin: 0;
  padding: 0;

  .creativeDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .noCreativeDisplay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.performanceOverviewTitle {
  font-weight: $font-weight-700;
  font-size: 1.4rem;
  color: $main-text;
  margin-bottom: $spacing-4;
}
