@import 'src/assets/styles/variables/variables.scss';

@mixin getTextStyle(
  $color: $black-text,
  $fontSize,
  $fontWeight,
  $lineHeight: normal,
  $letterSpacing,
  $textAlign: left
) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
}

.conversionContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
  margin: 0;

  .queryFormContainer {
    width: 70rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    .buttonContainer {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: flex-end;
      align-items: center;
    }

    .formContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;
      background: $foreground-color;
      border: 1px solid $stoke-color-1;
      padding: 2rem;

      .headerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        .header {
          @include getTextStyle(
            $black-text,
            2.4rem,
            700,
            normal,
            -0.72px,
            left
          );
        }

        .subHeader {
          @include getTextStyle($black-text, 1.3rem, 500, 2rem, -0.39px, left);
        }
      }

      .textFieldContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;
      }

      .dropdownContainer {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-top: -1rem;
      }
    }

    .fieldHeader {
      @include getTextStyle($black-text, 1.4rem, 600, normal, -0.42px, left);
      display: flex;
    }
  }
}
