@import 'src/assets/styles/variables/variables.scss';

.infoDiv {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  .titleContainer {
    width: 25rem;
    overflow: hidden;
    white-space: nowrap;

    .titleName {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
    }
  }
}
