@import 'src/assets/styles/variables/variables.scss';

.resultContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: $spacing-12;
  background-color: $foreground-color;
  border: 1px solid $border-color-4;
  border-radius: 1rem;
  padding: $spacing-12;

  h5 {
    font-size: $font-size-12;
    font-weight: $font-weight-500;
    color: $sub-text-2;
    text-transform: capitalize;
  }

  .brandTitle {
    text-transform: capitalize;
  }

  .Skeleton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.vl {
  border-left: 1px solid $border-color-4;
  height: 4rem;
}

p {
  font-size: $font-size-10;
  margin-top: 0.2rem;
}

.childContainerStyle {
  display: 'flex';
  flex-direction: 'column';
  width: 100%;
  background-color: $error-color;
  align-items: 'center';
  justify-content: 'center';
  padding: '1rem';
}
