@import 'src/assets/styles/variables/variables.scss';

.Container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .SubContainer {
    padding: 0 $spacing-16;
    background-color: $background-color;
  }
  .marketplaceLogo {
    width: 1.8rem;
    height: auto;
    margin-right: 0.2rem;
  }
}
