@import 'src/assets/styles/variables/variables.scss';

.Container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .SubContainer {
    padding: 0rem 1.2rem;
    background-color: #f3f5fa;
  }
  .marketplaceLogo {
    width: 1.8rem;
    height: auto;
    margin-right: 0.2rem;
  }
}
