.tableHeader {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 1rem;
  align-items: end;

  .rowFilter {
    position: relative;
  }
  .columnFilterContainer {
    position: relative;

    .columnFilter {
      position: absolute;
      top: -1.6rem;
      right: 1rem;
    }
  }
}
