@import 'src/assets/styles/variables/variables.scss';
@import 'src/assets/styles/scrollbar.scss';

.accountPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 100vh;

  .accountContainer {
    width: 40rem;
    background-color: $foreground-color;
    border: 1px solid $disable-color;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 3rem 2.5rem;

    .accountHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .accountSelection {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .logoutContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: $no-focus-text-1;

        .logout {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
            color: $primary-color;
          }
        }
      }

      .noAccountView {
        width: 100%;
        height: 20vh;
        background-color: $background-color;
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem;

        p {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 14.52px;
          color: #969191;
          text-align: center;

          span {
            color: #464646;
          }
        }
      }

      .logoutBtn {
        height: 3.3rem;
        width: 100%;
        border-radius: 4px;
        background: $primary-color;
        color: $foreground-color;
        text-transform: none;
        box-shadow: none;
        padding: 0.8rem 1.2rem;
        font-size: 1.2rem;

        &:hover {
          background: $primary-color-variant-1;
          box-shadow: none;
        }
      }
    }
  }
}
